# emergency_server (Phoenix app)
/emergency_server/_build/
/emergency_server/cover/
/emergency_server/deps/
/emergency_server/doc/
/emergency_server/.fetch
/emergency_server/erl_crash.dump
/emergency_server/*.ez
/emergency_server/tmp/
/emergency_server/emergency_server-*.tar
/emergency_server/priv/static/assets/
/emergency_server/priv/static/cache_manifest.json
/emergency_server/assets/node_modules/
/emergency_server/npm-debug.log
/emergency_server/*.db
/emergency_server/*.db-*

# firmware (Nerves project)
/firmware/_build/
/firmware/cover/
/firmware/deps/
/firmware/doc/
/firmware/tmp/
/firmware/erl_crash.dump
/firmware/*.ez

# general
.DS_Store
*.log
erl_crash.dump
/emergency_server/emergency_server_dev.db*
.claude/
